@{
    ViewData["Title"] = "Privacy Policy & Credits";
}
<h1>@ViewData["Title"]</h1>

<div class="card m-1 m-1">
    <div class="card-header">Privacy Policy</div>
    <div class="card-body row">
        <p>All the info is only stored localy in this instance of ScanOrganizer. So no data can be leaked by us.</p>
        <p>The code is also open source, so you can check everything by your self.</p>
    </div>
</div>


<div class="card m-1 m-1">
    <div class="card-header">Credits ScanOrganizer</div>
    <div class="card-body col-md-12">
        <ul>
            <li> <b>Main Programmer:</b> Devin Spitz </li>
            
            <li> <b>Company:</b> <a target="_blank" href="http://spitzen.solutions/">Spitz IT Solutions</a> </li>
            
            <li> <b>Discord:</b> <a href="http://dc.spitzen.solutions"><img src="https://badgen.net/discord/members/G5VpbgdYey" alt="Discord"></a> </li>
            
            <li> <b>Source Code:</b> <a href="https://github.com/devinSpitz/ScanOrganizer">Github</a> </li>
        </ul>
    </div>
</div>


<div class="card m-1 m-1">
    <div class="card-header">Credits</div>
    <div class="card-body col-md-12">
        <ul>
            <li> <b>Boostrap:</b> The most popular front-end framework for developing responsive, mobile first projects on the web. <a target="_blank" href="https://getbootstrap.com">https://getbootstrap.com</a></li>
            <li> <b>Datatables:</b> Add advanced interaction controls to your HTML tables the free & easy way   <a target="_blank" href="https://github.com/DataTables/Dist-DataTables">https://github.com/DataTables/Dist-DataTables</a></li>
            <li> <b>Hangfire:</b> An easy and reliable way to perform fire-and-forget, delayed and recurring, long-running, short-running, CPU or I/O intensive tasks inside ASP.NET applications. No Windows Service / Task Scheduler required. Even ASP.NET is not required. Backed by Redis, SQL Server, SQL Azure or MSMQ. This is a .NET alternative to Sidekiq, Resque and Celery. <a target="_blank" href="https://www.hangfire.io/">https://www.hangfire.io/</a></li>
            <li> <b>Font Awesome:</b> Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit.  <a target="_blank" href="https://fontawesome.com/">https://fontawesome.com/</a></li>
            <li> <b>Bootswatch:</b> Free themes for Bootstrap <a target="_blank" href="https://bootswatch.com/">https://bootswatch.com/</a></li>
            <li> <b>PdfiumViewer:</b> PDF viewer based on the PDFium project. <a target="_blank" href="https://github.com/pvginkel/PdfiumViewer">https://github.com/pvginkel/PdfiumViewer</a></li>
            <li> <b>TesseractSharp:</b> .NET Wrapper for tessaract v5.0.0.20190623 <a target="_blank" href="https://github.com/shift-technology/TesseractSharp">https://github.com/shift-technology/TesseractSharp</a></li>
            <li> <b>Newtonsoft.Json:</b> Json.NET is a popular high-performance JSON framework for .NET <a target="_blank" href="https://www.newtonsoft.com/json">https://www.newtonsoft.com/json</a></li>
            <li> <b>NLog:</b> NLog is a logging platform for .NET with rich log routing and management capabilities. NLog supports traditional logging, structured logging and the combination of both. <a target="_blank" href="https://github.com/NLog/NLog">https://github.com/NLog/NLog</a></li>
            <li> <b>Chenlllb:</b> Icons in pack: 31 icons <a target="_blank" href="https://www.veryicon.com/icons/miscellaneous/basic-icon-1/storage-20.html">https://www.veryicon.com/icons/miscellaneous/basic-icon-1/storage-20.html</a></li>
        </ul>
    </div>
</div>